@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "daisyui";



@plugin "daisyui/theme" {
  name: "classic";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(95% 0 0);
  --color-base-300: oklch(90% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(45% 0.1 240);
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: oklch(85% 0.05 240);
  --color-secondary-content: oklch(25% 0 0);
  --color-accent: oklch(60% 0.1 240);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(25% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(60% 0.1 240);
  --color-info-content: oklch(98% 0 0);
  --color-success: oklch(65% 0.1 150);
  --color-success-content: oklch(98% 0 0);
  --color-warning: oklch(70% 0.1 60);
  --color-warning-content: oklch(98% 0 0);
  --color-error: oklch(65% 0.1 20);
  --color-error-content: oklch(98% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
  
}



@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2.5rem)); /* Matches gap-10 (2.5rem) */
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}

.reverse-marquee {
  animation-direction: reverse;
}
